<%= form_for(@car) do |f| %>
  <div class="field">
    <%= f.label :make %>
    <%= f.text_field :make %>
  </div>
  <div class="field">
    <%= f.label :model %>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
