<%= link_to 'New Car', new_car_path %>

<table id="car_table" border="5 px" width="500px">
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.year %></td>
        <td><%= car.make %></td>
        <td><%= car.model %></td>
        <td><%= number_to_currency(car.price) %></td>
        <td><%= link_to 'Edit', edit_car_path(car) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
